@model IEnumerable<ReviewModel>

@{
    ViewBag.Title = "Reviews";
    Layout = "_Layout";
}
<head>
  <link rel="stylesheet" href="~/css/site.css"/>
</head>

<div class="window" style="margin: 32px;">
  <div class="title-bar">
    <div class="title-bar-text">
      Review Table
    </div>

    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">
    
    <div class="error-text"> <div asp-validation-summary="ModelOnly"></div> </div>
    <table>
      <tr>
        <th>№</th>
        <th>Text</th>
        <th>Hours</th>
        <th>Recommend</th>
        <th>Product</th>
        <th>Author</th>
        <th>Accepted</th>
      </tr>

      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Id</td>
          <td>@item.Text</td>
          <td>@item.Hours</td>
          <td>@item.Recommend</td>
          <td>@item.Product.ProductInfo.Name</td>
          <td>@item.Author.Account.Login</td>
          <td>@item.IsAccept</td>
          <td><a asp-action="ReviewUpdate" asp-controller="Moderator" asp-route-id="@item.Id">Edit</a></td>
          @* <td><a asp-action="ReviewDelete" asp-controller="Moderator" asp-route-id="@item.Id">Delete</a></td> *@
        </tr>
      }
    </table>
  </div>
</div>
