<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - GameStop</title>
        
    <link rel="stylesheet" href="https://unpkg.com/98.css"/>
    <link rel="stylesheet" href="css/site.css"/>
    
    
    <style>
    body {
    background-color: #c0c0c0;
    }
    </style>
    
</head>
<body>

<header>
    <div class="title-bar">
      <div class="title-bar-text">A Helpful Bar</div>
        <div class="title-bar-controls">
            <button aria-label="Help"></button>
            <button aria-label="Close" onclick="location.href='@Url.Action("Logout", "Auth")'"> </button>
            <button style="width: 30px; padding-left: 10px;" onclick="location.href='@Url.Action("UserInfo", "UserInfo")'"> User </button>
            <button style="width: 30px; padding-left: 10px;" onclick="location.href='@Url.Action("Cart", "Cart")'"> Cart </button>
            @if (ViewContext.HttpContext.User.IsInRole("ADMIN"))
                         {
                             <button style="width: 40px" onclick="location.href='@Url.Action("Admin", "Admin")'" > Admin </button>
                             
                         }
        </div>
    </div>
</header>
<div class="container">
    <main role="main">
        @RenderBody()
    </main>
</div>
</body>
</html>